<header class="u-head">
    <div class="u-head-menu">展开</div>
    全部
    <span>登录</span>
</header>
<!--<ul class="u-main" infinite-scroll='next()'   infinite-scroll-distance='0'>-->
<ul class="u-main" i-scroll='next()'>
    <li ng-repeat="data in all" repeat-finish >
      <!--  <h3><span  re-text>{{data.tab|tab}}</span><a href="#/{{data.id}}">{{data.title}}</a></h3>-->
        <h3><span  re-text>{{data.tab|tab}}</span><a ui-sref="son({id:data.id})">{{data.title}}</a></h3>
       <!-- <h3><span  re-text>{{data.tab|tab}}</span><a ng-click="hide()" ui-sref="start.son({id:data.id})">{{data.title}}</a></h3>-->
        <img class="u-img" ng-src={{data.author.avatar_url}} alt="">
        <div class="info">
            <p>
                <span>{{data.author.loginname}}</span>
                <span><em>{{data.reply_count}}</em>/{{data.visit_count}}</span>
            </p>
            <p>
                <span>{{data.create_at|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <span>{{data.last_reply_at|time}}</span>
            </p>
        </div>
    </li>
</ul>
<div ui-view></div>